.Game-content {
  flex: 0.7;
  padding-left: 8px;
}

.Game-InputPanel {
  flex: 0.5 1 50%;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.Game-InputPanel .Game-Word {
  flex: 0.1;
}

.Game-InputPanel .Game-AttemptsLeft {
  flex: 0.1;
}

.Game-InputPanel .Game-VirtualKeyboard {
  flex: 0.8;
}

.Game-InputPanel .Game-GameWin {
  flex: 0.8;
  font-weight: 600;
  font-size: 1.3em;
}

.Game-InputPanel .Game-GameOver {
  flex: 0.8;
  font-weight: 600;
  font-size: 1.3em;
}

.Game-Hangman {
  flex: 0.5 1 50%;
  margin-top: -80px;
}

.Game-SideBySide {
  display: flex;
  /* flex-wrap: wrap; */
}
